.headershadaw {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
}
.footer-blood {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
}
.accordion .card {
	color: #424e5d;
	border: 1px solid #dddddd;
}
.accordion .card a {
	color: #424e5d;
	text-decoration: none;				
}
.accordion .card-header {
	background: linear-gradient(#fff, #f1f1f1);
	position: relative;
}
.accordion .card-header:hover {
	background: linear-gradient(#f1f1f1, #e8e8e8);
}
.accordion .card-header h2 {
	font-size: 0.9rem;
}
.accordion .card-header a {
	float: left;
	cursor: pointer;
}
.accordion .toggle {
	font-size: .8rem;
	line-height: .8rem;
	cursor: pointer;
	opacity: 0.7;
	position: absolute;
	right: 16px;
	top: 16px;
	width: 14px;
	margin: 0;
}
.accordion .toggle:hover {
	opacity: 1;
}
.accordion .card-body {
	padding: 0;
}
.accordion .list-group-item {				
	border-radius: 0;
	border-width: 1px 0 1px 0;
	padding-left: 30px;
	background: #d6dbe0;
	font-weight: 500;
}
.accordion .list-group-item:hover {
	background: #343a40;
}
.accordion .list-group-item:hover a {
	color: #fff !important;
}
.accordion .rotate{
	transform: rotate(180deg); 
}
.pstock {
	cursor: pointer;
}
li {
	background-color: #e8ebef !important;
	font-size: 0.9rem;
}

li:hover {
	background-color: #454d55 !important;
	color : white;
}
main, button {
	font-size: 0.9rem;
}
.activeBlood {
	background-color: #40586f !important;
	color : white;
}
.activeBlood::after {
	content: "\a0 ›";
	font-size: 0.8rem;
	padding:0;
	margin: 0;
}